{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/tasks.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <title>Tasks</title>
  </head>

  <body>

    <header>
      <h1 style="cursor: pointer" style="cursor: pointer">TaskFlow <img 
        style=" width: 26px; top: 10px; cursor: pointer" 
        src="{% static 'img/logo.png' %}" 
      /></h1>
      <ul>
          <li>Home</li>
          <li onclick="window.location.href='{% url 'minha_conta' %}'">Minha Conta</li>
          <li onclick="window.location.href='{% url 'logout' %}'">Logout <img 
            style=" width: 16px; top: 10px; cursor: pointer" 
            src="{% static 'img/sair.png' %}" 
            alt="" 
            id="sair" 
          /></li>
      </ul>
  </header>
    
    <div id="container_h1">
      <h1>Tasks</h1>
    </div>

    <div id="adicionar">
      <button onclick="window.location.href='{% url 'nova_task' %}'">
        Nova Tarefa <img src="{% static 'img/adicionar.png' %}" alt="" />
      </button>
    </div>

    <div id="container_tasks">
      {% for task in tasks %}
      <div class="task">
        <div class="data">
          <p class="dia">{{ task.data_vencimento|date:"d" }}</p>
          <p class="mes">{{ task.data_vencimento|date:"F" }}</p>
        </div>

        <div class="conteudo_task campos">
          <div class="atribuicoes">
            <p class="membros_campo">Membro(s)</p>
            <ul>
              <li>
                <img src="{% static 'img/' %}{{task.atribuido_para.foto_perfil}}" />
                {{ task.atribuido_para.primeiro_nome }} {{ task.atribuido_para.ultimo_nome }}
              </li>
            </ul>
          </div>

          <div class="informacoes campos">
            <p class="tarefas_campo">Tarefa(s)</p>
            <ul>
              <li>
                {% comment %} <input type="checkbox" id="checkbox1" /> {% endcomment %}
                <label for="checkbox1">{{ task.descricao }}</label>
              </li>
            </ul>
          </div>

          <div class="status campos">
            <p class="status_campo">Status</p>
            <p class="{{ task.status }}">{{ task.status }}</p>
          </div>

          <div class="editar">
            <button onclick="window.location.href='{% url 'editar_task' task.id %}'">
              Editar<img src="{% static 'img/editar.png' %}" />
            </button>
          </div>
        </div>
      </div>
      {% empty %}
      <p>Nenhuma tarefa encontrada.</p>
      {% endfor %}
    </div>
  </body>
</html>
