{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>

<body>
    <div id="conteudo">

        <div id="parte_esquerda">
            <img src="{% static "img/background.jpg" %}">
        </div>

        <div id="parte_direita">
            <h1>Realize o seu Login</h1>

            <p id="cadastro" name="cadastro">Ainda não tem uma conta?<span id="span_cadastro">Cadastro</span></p>

            <input type="text" id="email" name="email" placeholder="Email">

            <input type="password" id="senha" name="senha" placeholder="Insira a sua Senha...">

            <button id="login" name="login">Login</button>

            <div class="text-with-lines">Acompanhe nosso Repositório</div>

            <div id="campo_baixo">
                <div id="github">
                    <img src="{% static "img/github.png" %}" alt="github">
                    <p>Github</p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>